.form-container {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    font-family: 'Bree Serif', serif;
}

.login-form {
    min-height: 50vh;
    width: 30vw;
    padding: 40px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(128, 129, 131);
}

.heading {
    font-weight: bold;
    text-align: center;
}

.label {
    margin: 3px;
}

.input {
    padding: 5px;
    margin: 1px;
    height: 30px;
    width: 95%;
}

.login-btn {
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 8px;
    margin: 3px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: rgb(7, 7, 12);
}

.input.success {
    border: 2px solid #28a745;
    background-color: #f3fff7;
}

.input.error {
    border: 2px solid #dc3545;
    background-color: #fff5f5;
}

#email-error,
#pass-error,
#name-error,
#phone-number-error {
    font-size: 13px;
    margin-left: 5px;
}